@model TestS2L5BEScarpeCo.Models.Articolo

@{
    ViewData["Title"] = "Aggiungi Nuovo Articolo";
}

<h1>Aggiungi Nuovo Articolo</h1>

<form asp-action="Aggiungi" method="post">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prezzo" class="control-label"></label>
        <input asp-for="Prezzo" class="form-control" />
        <span asp-validation-for="Prezzo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descrizione" class="control-label"></label>
        <textarea asp-for="Descrizione" class="form-control"></textarea>
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CopertinaImg" class="control-label"></label>
        <input asp-for="CopertinaImg" class="form-control" />
        <span asp-validation-for="CopertinaImg" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgPlus" class="control-label"></label>
        <input asp-for="ImgPlus" class="form-control" />
        <span asp-validation-for="ImgPlus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgPlusPlus" class="control-label"></label>
        <input asp-for="ImgPlusPlus" class="form-control" />
        <span asp-validation-for="ImgPlusPlus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Aggiungi" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}