@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p>Scegli una delle seguenti opzioni:</p>
    <ul>
        <li><a href="/Anagrafica/Index">Anagrafare i trasgressori</a></li>
        <li><a href="/TipoViolazioni/Index">Elenco delle violazioni</a></li>
        <li><a href="/Verbali/Compilazione">Compilazione del verbale</a></li>
        <li><a href="/Violazioni/ViolazioniConPiuDi10Punti">Violazioni con più di 10 punti decurtati</a></li>
        <li><a href="/Violazioni/ViolazioniConImportoMaggioreDi400">Violazioni con importo maggiore di 400 euro</a></li>
    </ul>
</div>