@{
    ViewData["Title"] = "Totale Verbali";
}
@model IEnumerable<TestS4L5BEAppPolizia.Models.TotaleVerbali>

<h2>Totale Verbali per Trasgressore</h2>
<table>
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Trasgressore</td>
                <td>@item.TotVerbali</td>
            </tr>
        }
    </tbody>
</table>