@{
    ViewData["Title"] = "Homepage";
}

<h1>Benvenuti all'Hotel</h1>
<p>Questo è il sito del nostro hotel. Qui puoi trovare tutte le informazioni sui nostri servizi e camere.</p>
<a href="/Admin" class="btn btn-primary">Admin</a>